body{
    background: #7373BC;
    color: white;
    text-align: left;
}

#main-title{
    text-align: center;
}

#description {
    font-weight: bold;
}

#survey-form{
    display: flex;
    flex-direction: column;
    background: #2B2B49;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
}

@media (max-width: 768px){
    #survey-form{
        margin-left: 5%;
        margin-right: 5%;
    }
}

#submit {
    width: 10em;
    height: 2em;
    align-self: center;
    font-size: 1.1em;
    margin-top: 5%;
}
 #submit:hover {
    transform: scale(1.2);
 }